---
permalink: /tags/
layout: layouts/home_alt.njk
eleventyNavigation:
  key: Tags
  order: 3
numberOfLatestPostsToShow: 2
---
{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}

<h1>Tags</h1>

<ul>
{% for tag in collections.all | getAllTags | filterTagList %}
	{% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
	<li><a href="{{ tagUrl }}" class="post-tag tagList">{{ tag }}</a></li>
{% endfor %}
</ul>

