---
layout: layouts/base.njk
---
{%- css %}{% include "public/css/message-box.css" %}{% endcss %}
<div class="message-box">
    <h1>"[due to his untimely misfortunes], the thread of prophecy is severed. restore a saved game to restore the weave of fate, or persist in the doomed world [he has] created."<sup>1</sup></h1>
</div>
<!-- Stop deleting -->
{{ content | safe }}
