---
layout: layouts/base.njk
---

<!-- Delete this message, it will also remove the component CSS from the bundle -->
{%- css %}{% include "public/css/message-box.css" %}{% endcss %}
<div class="message-box">
    <h1>this site is a work in progress.</h1>
    <h3>i am still on the process of redesigning this to make it more user-friendly. sorry for the inconvenience—some pages might look janky in some devices and/or resolutions. 
    for bug reports, wobbly displays, and feedback, you can send me an email <b><a href="mailto:rabinbot@gmail.com?subject=Hello!">here<a></b>.
    </br> </br>thank you for understanding.
    </h3>

   

</div>
<!-- Stop deleting -->
{{ content | safe }}
